body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  background-color: white;
  border: 1px solid black;
  font-size: 10px;
  padding: 0px;
  line-height: 2px;
  margin: 0px;
  width: 100px;
}

.tooltip {
  background-color: grey;
  border: 1px solid black;
}

table, th, td {
  border: 1px solid black;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  list-style-type: none;
}

li:hover {
  background-color: gray;
}